.tableCont{
    padding-bottom: 20px;
}


.tableCont h1{
    margin-top: 40px;
    color: lightseagreen;
}

table{
    max-width: 100%;
}

table tr td select{
    width: 195px;
    padding: 5px 10px;
}

table tr th{
    color: #5572e8;
}

table tr td, table tr th{
    border: 1px solid #000000a1;
    padding: 8px 30px;
}

.tableCont .tableMain{
    margin-top: 40px;
    padding: 20px;
}

.tableCont .tableMain form{
    width: 255px;
}

.tableCont .tableMain form label {
    color: #5572e8;
    font-weight: 500;
}